<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Bark noise
                </div>
                <div class="chart-stage">
                    <div id="chart-01"></div>
                </div>
                <div class="chart-notes">
                    Results from recording barks.
                </div>
                <%= form_tag url_for(:controller => "home"), {:id=>"time_form", :class=>"form-inline"} do |f| %>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="btn-group" role="group" aria-label="...">
                                <% form_val = nil %>
                                <% @interval_options.each do |i| %>
                                <%  active_class = @bark_display_interval == i ? "active" : "" %>
                                <%  active_name = active_class != ""? i : "" %>
                                <%= link_to i, '#', {:class=> "#{active_class} btn btn-default interval", :role=>"button", :name=>active_name} %>
                                <% form_val ||= active_name if(active_class != "") %>
                                <%end%>
                                <%= hidden_field_tag(:bark_interval, form_val) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  top15">
                    <div class="col-sm-12">
                        <div class='col-sm-3'>
                            <div class="form-group">
                            <label for="start_time">Start Date/Time:</label>
                                <div class='input-group date' id="start_datetime">
                                    <%= text_field_tag :start_time, @formatted_start_time.blank? ? nil : @formatted_start_time ,{:class=>'form-control'} %>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class="form-group">
                            <label for="end_time">End Date/Time:</label>
                                <div class='input-group date' id="end_datetime" >
                                    <%= text_field_tag :end_time, @formatted_end_time.blank? ? nil : @formatted_end_time ,{:class=>'form-control'} %>
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bottom15 top15">
                    <div class='col-sm-12'>
                        <div class='col-sm-12'>
                            <%= button_tag :Update, { :type=>"submit", :class=>"btn btn-primary pull-left"} %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#start_datetime').datetimepicker({
                format: 'ddd, MMM DD, YYYY h:mmA',
            });
            $('#end_datetime').datetimepicker({
                format: 'ddd, MMM DD, YYYY h:mmA',
            });
            $("#start_datetime").on("dp.change", function (e) {
                $('#end_datetime').data("DateTimePicker").minDate(e.date);
            });
            $("#end_datetime").on("dp.change", function (e) {
                $('#start_datetime').data("DateTimePicker").maxDate(e.date);
            });
            $(".interval").on("click",function(e){
                $(".interval").removeClass("active");
                $(this).addClass("active");
                $("#bark_interval").attr("value", $(this).text());
            })
        });
    </script>
    <hr>
    <p class="small text-muted">Built by <a href="https://scaperoth.com">Matt Scaperoth</a></p>
</div>