<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway' />
        <title>DogCaller</title>
        <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <script>
        var h = window.innerHeight;
        var client = new Keen({
          projectId: "555d535790e4bd2318a0f147",
          readKey: "847d02faef6e9efe40b8d75209d00a73bc8e4519beafbcb261f1abd8d68fb09738b32384c6eded71749fd8560930941439c335ab2de98172b896333514b06cd10aeb75e62d42ef49c3dda3ff227c87bd6f51f83e366897ea480ed4ede5d84e7974b17f7c9f5cc0dc9010798efb204d66"
        });


        </script>
    </head>
    <body class="application">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="navbar-brand" href="./">DogCaller</a>
                </div>
            </div>
        </div>
        <%= yield %>
        <div class="footer">
            <div class="container">
                <div class="love">
                    <p>Made with &#9825; in San Francisco</p>
                    <p>&copy; 2012&ndash;2014 <a href="https://keen.io">Keen IO</a></p>
                </div>
            </div>
        </div>
        <%= debug(params) if Rails.env.development? %>
        <script>

        var chart = new Keen.Dataviz();
        var req;
        var pageviews_timeline

        function restart_chart(){
          chart.prepare(); // restart the spinner
          req.refresh();
        }

        Keen.ready(function(){
          
          // ----------------------------------------
          // Sample one
          // ----------------------------------------
          pageviews_timeline = new Keen.Query("count", {
              eventCollection: "BrodyBark",
              interval: "<%=@bark_display_interval%>",
              target_property: "bark",
              timeframe: <%=@timeframe.html_safe %>
          });

          var chart_name =  document.getElementById("chart-01")
          client.draw(pageviews_timeline, chart_name, {
              chartType: "areachart",
              title: <%= @start_time.blank? ? "\"#{@bark_display_interval}\"".html_safe : "\"#{@bark_display_interval} | #{@formatted_start_time} -- #{@formatted_end_time}\"".html_safe %>,
              height: h*.6,
              width: "auto",
              chartOptions: {
              chartArea: {
                  height: "85%",
                  left: "5%",
                  top: "5%",
                  width: "80%"
              },
              isStacked: false
          }});

          
          // ----------------------------------------
          //  End Chart one
          // ----------------------------------------
        });
        </script>
    </body>
</html>